<div class="container">
    <mat-toolbar>
        <div fxLayout="row">
            <img src="../../../assets/education.svg" alt="">
            <span>Bookstore</span>
        </div>
    </mat-toolbar>

    <h1>Forget Your Password?</h1>

    <div class="inner-container">
        <div class="text">Enter your email address and we'll send you a link to reset your password.</div>

        <div class="field" fxLayout="column">
            <span class="field-text">Email Id</span>
            <mat-form-field appearance="outline">
                <input matInput placeholder="">
            </mat-form-field>
            <div>
                <button mat-flat-button>Reset Password</button>
            </div>
        </div>
        <div class="bottom-div">
            <p>CREATE ACCOUNT</p>
        </div>
    </div>
</div>