<div class="container">
    <mat-toolbar>
        <div fxLayout="row">
            <img src="../../../assets/education.svg" alt="">
            <span>Bookstore</span>
        </div>
    </mat-toolbar>

    <h1>Forget Your Password?</h1>

    <div class="inner-container">
        <div class="text">Enter your email address and we'll send you a link to reset your password.</div>

        <div class="field" fxLayout="column" [formGroup]="forgetPasswordForm">
            <span class="field-text">Email Id</span>
            <mat-form-field appearance="outline">
                <input matInput placeholder="" formControlName="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                </div>
            </mat-form-field>
            <div>
                <button mat-flat-button (click)="onSubmit()">Reset Password</button>
            </div>
        </div>
        <div class="bottom-div">
            <p (click)=onSignup()>CREATE ACCOUNT</p>
        </div>
    </div>
</div>