<div class="container" fxLayout="row" fxLayoutAlign="center center">
    <div class="woman-image" fxHide.xs fxHide.sm>
        <img src="../../../assets/2766594.png" alt="">
        <h2>ONLINE BOOK SHOPPING</h2>
    </div>

    <div class="inner-container" fxLayout="column">
        <div class="choice" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div class="login" fxLayout="column" (click)=onLogin()>
                <div class="login-underline">
                    <h1 class="heading-color">LOGIN</h1>
                    <div class="underline"></div>
                </div>
            </div>

            <div class="signup" fxLayout="column" (click)=onSignup()>
                <div class="signup-underline">
                    <h1 class="heading-color">SIGNUP</h1>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>