<div class="container">
    <div class="upper-section" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="book-count">
            <span class="books-text">Books<span class="book-count">({{books.length}} items)</span></span>
        </div>
        <div class="order">
            <mat-form-field appearance="outline">
                <select matNativeControl>
                    <option value="relevence">Sort by relevance</option>
                </select>
            </mat-form-field>
        </div>
    </div>
    <div class="below-section" fxLayoutGap="28px">
        <div class="books" *ngFor="let book of books">
            <div class="single-book" fxLayout="column" (click)="quickView(book)">
                <div class="book-image" fxLayoutAlign="center center" matTooltip="QUICK VIEW">
                    <img src={{book.bookImage}} alt="">
                </div>
                <div class="book-info" fxLayout="column" fxLayoutGap="6px">
                    <div class="book-name">
                        <span>{{book.bookTitle}}</span>
                        <p>by {{book.authorName}}</p>
                    </div>
                    <div class="rating" fxLayout="row" fxLayoutAlign="start center">
                        <div class="star" fxLayout="row" fxLayoutAlign="center center">
                            <p class="rating-star">{{book.rating}}</p>
                            <img class="star-image" src="../../../assets/star_white_24dp.svg" alt="">
                        </div>
                        <div class="people">
                            <p>(20)</p>
                        </div>
                    </div>
                    <div class="price-section" fxLayout="row" fxLayoutGap="5px">
                        <h4>RS. {{book.bookPrice}}</h4>
                        <del>
                            <p>RS. 2000</p>
                        </del>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>