<form action="">
    <div class="fields" fxLayout="column">
        <span>Email Id</span>
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>

        <span>Password</span>
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>
        <span class="forget-password-text">Forget Password?</span>
    </div>
    <div>
        <button class="login-button" mat-flat-button>Login</button>
    </div>
</form>
<div class="below-container">
    <div class="or-text" fxLayoutAlign="center center">
        OR
    </div>
    <div class="ol-buttons">
        <button class="fb-button" mat-raised-button color="primary">Facebook</button>
        <button class="g-button" mat-raised-button>Google</button>
    </div>
</div>