<app-header></app-header>
<div class="container" fxLayout="column">
    <div class="home-count">
        <span class="home" routerLink="/home">Home /</span><span class="my-cart"> Profile</span>
    </div>

    <div class="form-fields">
        <div class="heading" fxLayoutAlign=" end" fxLayoutGap="20px">
            <span class="customer-detail-heading">Personal Details</span>
            <span class="edit-button">Edit</span>
        </div>
        <div class="input-fields" fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="column">
                <span class="form-instruction">Full Name</span>
                <input class="personal-detail-input" type="text">
            </div>
            <div fxLayout="column">
                <span class="form-instruction">Email Id</span>
                <input class="personal-detail-input" type="text">
            </div>
            <div fxLayout="column">
                <span class="form-instruction">Password</span>
                <input class="personal-detail-input" type="text">
            </div>
            <div fxLayout="column">
                <span class="form-instruction">Mobile Number</span>
                <input class="personal-detail-input" type="text">
            </div>
        </div>

        <div class="customer-details">
            <div class="headings" fxLayout="row" fxLayoutAlign="space-between start">
                <span class="customer-detail-heading">Address Details</span>
                <button class="new-address-button"><span class="new-address-text">Add New Address</span></button>
            </div>

            <div class="address-part" fxLayout="column">
                <div class="radio-button" fxLayoutAlign=" end" fxLayoutGap="20px">
                    <mat-radio-button value="1">1.WORK</mat-radio-button>
                    <span class="edit-button">Edit</span>
                </div>

                <div class="full-address" fxLayout="column" fxLayoutGap="10px">
                    <div class="main-address" fxLayout="column">
                        <span class="text-above-form-field">Address</span>
                        <input class="address-input" type="text">
                    </div>
                    <div class="city-state-fields" fxLayout="row" fxLayoutGap="10px">
                        <div fxLayout="column">
                            <span class="text-above-form-field">city/town</span>
                            <input class="city-state" type="text">
                        </div>

                        <div fxLayout="column">
                            <span class="text-above-form-field">State</span>
                            <input class="city-state" type="text">
                        </div>
                    </div>
                </div>

                <div class="address-suggest" fxLayout="column">
                    <mat-radio-button value="1">2.Home</mat-radio-button>
                    <div class="main-address" fxLayout="column">
                        <span class="text-above-form-field">Address</span>
                        <input class="suggestion-input" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<app-footer></app-footer>