<app-header></app-header>
<div class="container" fxLayout="column">
    <div class="home-count">
        <span class="home" routerLink="/home">Home /</span><span class="my-cart"> My Order</span>
    </div>

    <div class="main-book" *ngFor="let order of orders">
        <div class="single-book" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="38px">
            <img class="book-image" src={{order.bookImage}} alt="">
            <div class="book-info" fxLayout="column" fxLayoutGap="6px">
                <div class="book-name">
                    <span class="book-title">{{order.bookTitle}}</span>
                    <p class="author-name">by {{order.authorName}}</p>
                </div>
                <div class="price-section" fxLayout="row" fxLayoutGap="11px">
                    <h4 class="book-price">RS. {{order.price}}</h4>
                    <del>
                        <p class="cut-price">RS. 2000</p>
                    </del>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>