<form action="">
    <div class="fields" fxLayout="column">
        <span>Full Name</span>
        <mat-form-field appearance="outline">
            <input matInput>
            <mat-hint>Enter full name</mat-hint>
        </mat-form-field>

        <span>Email Id</span>
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>

        <span>Password</span>
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>

        <span>Mobile Number</span>
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>
    <div class="botton-button">
        <button mat-flat-button>Signup</button>
    </div>
</form>